/.idea
/.svg
/.venv
/.vscode
/1.png
/a.py
/Average photon number CD_4 as a function of g.png
/bars_plot.png
/binomial.py
/cat.py
/CD_atoms.py
/Consistent_model_squeezing.py
/cooling_gpt.py
/dicke_state.py
/fast_calc_and_plot
/fast_calc_and_plot.zip
/fidelity_vs_eta_and_times.png
/fid_2_level.npy
/fid_4_level.npy
/fid_4_level.txt
/fid_vs_eta.ipynb
/four
/GKP.py
/GKP4_code.zip
/GKP_atoms.ipynb
/GKP_state_0.npy
/GKP_state_1.npy
/graphs_creation.py
/graphs_creation_new.py
/ideal_gkp.py
/imaging.py
/kitten_state,N=10,theta=0.7853981633974483.svg
/kitten_state_results.json
/main.py
/monoenergetic_pinem_cooling.py
/Multimode_Electron_cooling.ipynb
/new_4level.py
/new_code_GKP4.py
/new_code_GKP4_2.py
/new_final_trace-DESKTOP-E41EF2M.py
/new_final_trace.py
/noise_sim.py
/N_30.png
/old
/ori.py
/output.png
/phase.png
/phase.py
/phase_measurenemt.py
/pinem.ipynb
/pinem_for_yan.py
/pinem_for_yan.zip
/plot_fid.py
/QEC_2levels.py
/QEC_2levelstest.py
/QEC_2levels_asaf.py
/QEC_4levels.py
/Rabbi_osc.ipynb
/Rabbi_osc_per_N.png
/rotated_state_x,N=10,theta=1.5707963267948966,chi=1.5707963267948966.svg
/rotated_state_x,N=11,theta=1.5707963267948966,chi=1.5707963267948966.svg
/scattering_kitten.py
/State Fidelity of CD_4 as a function of N for different g values.png
/state_even,N=10,theta=1.5707963267948966,chi=1.5707963267948966.svg
/S_vs_p_less_cd_in_4.png
/S_vs_p_same_cd.png
/test.ipynb
/test.mat
/test.py
/thermal.py
/together.tif
/two
/vacuum.tif
/wigner_poisson.py
/__pycache__